.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #050505; */
    color: #e0d8;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 9999;
}

.content {
    width: 100%;
    max-width: 1000px;
    padding: 60px;
    text-align: center;

    /* transform: translateY(-10px); */
}

.title {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 3rem;
    margin-bottom: 3.5rem;
    text-shadow: 0 0 10px rgba(168, 85, 247, 0.5);
    letter-spacing: 2px;

}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    margin-bottom: 40px;
}

.categoryCard {
    text-align: left;
    padding: 10px;
}

.catTitle {
    font-size: 0.85rem;
    color: #a855f7;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: lowercase;
}


.line {
    width: 100%;
    height: 1px;
    background: #333;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(168, 85, 247, 0.2);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #ccc;
    opacity: 0.75;
    /* transition: all 0.2s; */
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

/* The main text of the item */
.itemText {
    position: relative;
    z-index: 2;
}

/* The Note ("// comment") style */
.note {
    font-size: 0.75rem;
    color: #666;
    margin-left: 10px;
    font-style: italic;
    font-family: 'Courier New', monospace;
    opacity: 0.6;
}

/* Hover effect: Highlight text and make note brighter */
.list li:hover .itemText {
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    cursor: url('/metal_guitar_cursor_final.png') 30 20, pointer;
}

.list li:hover .note {
    color: #a855f7;
    /* Lavender note on hover */
    opacity: 1;
}

/* CROSSED OUT ITEMS (e.g. "Gym") */
.crossed .itemText {
    text-decoration: line-through;
    color: #555;
    opacity: 0.5;
}

.crossed .note {
    text-decoration: none;
    color: #444;
}

.crossed:hover .itemText {
    color: #777;
    text-shadow: none;
    cursor: default;
}

.backBtn {
    display: inline-block;
    margin-top: 3rem;
    color: #666;
    text-decoration: none;
    opacity: 0.75;
    border: 1px solid #333;
    padding: 5px 15px;
    cursor: url('/metal_guitar_cursor_final.png') 30 20, pointer;
}

.backBtn:hover {
    color: #ffffffec;
    border-color: #ffffff8a;
    opacity: 1;
}