.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #050505;
    color: #e0d8ff;
    font-family: 'Courier New', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;




}

.content {
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.title {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #c084;
    text-shadow: 0 0 8px rgba(168, 85, 247, 0.4),
        0 0 20px rgba(168, 85, 247, 0.15)
}

.title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
    width: 180px;
    height: 1px;
    background: linear-gradient(to right,
            transparent,
            rgba(168, 85, 247, 0.6),
            transparent);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 22px;
    padding: 20px;
}


.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    text-align: left;
    color: inherit;
    font-family: inherit;
    /* Force the custom guitar cursor */
    cursor: url('/metal_guitar_cursor_final.png') 30 20, pointer !important;
    border: 1px solid rgba(255, 255, 255, 0.08);
    /* box-shadow: */
    /* inset 0 0 12px rgba(0,0,0,0.6), */
    /* 0 0 0 transparent; */

    position: relative;
}

.card:hover {
    background: rgba(168, 85, 247, 0.08);
    /* border-color: rgba(168,85,247,0.4); */

}

.icon {
    font-size: 1.6rem;
    opacity: 0.7;
    display: block;
    letter-spacing: 2px;

    margin-bottom: 12px;
}

.card h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
}

.card:hover .icon {
    opacity: 1;
    text-shadow: 0 0 6px rgba(168, 85, 247, 0.5);
}

.card p {
    margin: 5px 0 0 0;
    opacity: 0.6;
    font-size: 0.8rem;
}

.backBtn {
    display: inline-block;
    font-size: 0.8rem;
    opacity: 0.6;
    margin-top: 3rem;
    color: #666;
    text-decoration: none;
    border: 1px solid #333;
    padding: 5px 15px;
    cursor: url('/metal_guitar_cursor_final.png') 30 20, pointer !important;
}

.backBtn:hover {
    opacity: 1;
    /* text-shadow: 0 0 6px rgba(168, 85, 247, 0.5); */
    color: #ffffffa5;
    border-color: #ffffff4e;
}